element.style {
}
.btn {
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    color: var(--btn-default-color);
    display: inline-block;
    font-size: 0.875em;
    line-height: 2;
    padding: 0 20px;
    transition: background-color 0.2sease-in-out;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
a {
    border-bottom: 1px solid #999;
    color: var(--link-color);
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    overflow-wrap: break-word;
}

a {
    background: transparent;
}
user agent stylesheet

.post-button {
    /* right: auto; */
    margin-top: 40px;
    text-align: right;
}

